body {
    margin: 0;
    height: 99vh;
    background-color: #1a1a1a;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: whitesmoke;
}

#root {
    height: 100%;
}